/*--------------------------------------------------------------
# About
--------------------------------------------------------------*/
  .about .icon-box {
    margin-top: 2em;
  }
  
  .about .icon-box .icon {
    float: left;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 64px;
    height: 64px;
    border: 2px solid var(--darkiest-color);
    border-radius: 50px;
    transition: 0.5s;
  }
  
  .about .icon-box .icon i {
    color: var(--darkiest-color);
    font-size: 32px;
  }
  
  .about .icon-box:hover .icon {
    background: var(--light-color);
    border-color: var(--light-color);
  }
  
  .about .icon-box:hover .icon i {
    color: var(--white-color);
  }
  
  .about .icon-box .title {
    margin-left: 85px;
    font-weight: 700;
    margin-bottom: 10px;
    font-size: 18px;
  }
  
  .about .icon-box .title a {
    color: var(--darkiest-color);
    transition: 0.3s;
  }
  
  .about .icon-box .title a:hover {
    color: var(--orange-color);
  }
  
  .about .icon-box .description {
    margin-left: 85px;
    line-height: 24px;
    font-size: 14px;
  }

  .row .sobre-row{
    display: flex !important;
    flex-direction: row;
  }

  #div-log2{
    position: relative;
  }

  #log2 {
    height: 550px;
    width: auto;
    position: absolute;
    bottom: -32px;
    right: 0;
  }