/* bem vindos */

@media (min-width: 1000px) {
  #hero {
      background-attachment: fixed;
  }


}

@media (max-width: 999px) {
  #hero {
      margin-bottom: 0;
      /* height: 100vh; */
      margin-top: 40px;
      height: 52vh !important;
      background-repeat: no-repeat;
      /* background-size: 798px !important; */

  }

  #hero .container {
      padding-bottom: 63px;
  }

  #hero h1 {
      font-size: 28px;
      line-height: 36px;
  }

  #hero h2 {
      font-size: 18px;
      line-height: 24px;
      margin-bottom: 30px;
  }

  #log2 {
    position: static !important;
    width: auto;
    display: block;
    margin-left: -55px !important;
    margin-bottom: -55px;
  }
}

@media (max-height: 600px) {
  #hero {
      height: 110vh;
  }
}

@media (max-width: 400px){
  .gallery-item{
    width: 350px !important;
    height: 520px !important;
  }

  .contato iframe {
    width: 350px !important;
  }

  .whatsapp-image {
    position: fixed;
    right: 0.5em !important;
    bottom: 2em !important;
}

.whatsapp-image img {
    width: 3em !important;
}
}