<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] Távilla Victória</title>

    <!-- bibliotecas usadas-->
    <link href="~/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/lib/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/lib/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="~/lib/boxicons/css/boxicons.min.css" rel="stylesheet">

    <!-- styles personalizados-->
    <link rel="stylesheet" href="~/css/index.css">

    <!-- Favicons -->
    <link rel="shortcut icon" href="~/img/favicon.ico" type="image/x-ico">

</head>

<body>
    <!-- Template Main JS File -->
    @* <script src="~/lib/js/main.js"></script> *@
    <header id="header" class="fixed-top">
        <div class="container d-flex align-items-center">

            <h1 class="logo me-auto"><a href="/Home/Index#hero" class="bem-vindo">Távila Victória</a></h1>
            <!-- Uncomment below if you prefer to use an image logo -->
            <!-- <a href="index.html" class="logo me-auto"><img src="assets/img/logo.png" alt="" class="img-fluid"></a>-->

            <nav id="navbar" class="navbar order-last order-lg-0">
                <ul>
                    <li class="nav-item">
                        <a href="/Home/Index#hero">Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/Index#about">Sobre</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/Index#services">Serviços</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/Index#gallery">Galeria</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Home/Index#contact">Fale Conosco</a>
                    </li>
                    <!-- Comando para restringir itens do menu de acordo com usuario-->
                    @if (Context.Session.GetString("UsuarioTipo") == "administrador")
                    {
                        <li class="nav-item">
                            <a href="/Usuario/Index" class="clientes">Clientes</a>
                        </li>
                    }

                    @if (Context.Session.GetString("UsuarioTipo") == "administrador" ||
                    Context.Session.GetString("UsuarioTipo") ==
                    "cliente")
                    {
                        <!-- Se o usuário estiver autenticado, exibe o dropdown -->
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle user-loged" href="#" id="usuarioDropdown" role="button"
                                data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                @Context.Session.GetString("UsuarioNome")
                            </a>
                            <div class="dropdown-menu" aria-labelledby="usuarioDropdown">
                                <!-- Adicione aqui os itens do dropdow
                                            <a class="dropdown-item" href="#">Opção 1</a>
                                            <a class="dropdown-item" href="#">Opção 2</a>
                                            <div class="dropdown-divider"></div>
                                            -->

                                <a class="dropdown-item .sair" href="/Usuario/Logout" onclick="fazerLogout()">Sair</a>
                            </div>
                        </li>
                    }
                    else
                    {
                        <!-- Se o usuário não estiver autenticado, exibe o link de login -->
                        <li class="nav-item">
                            <a href="/Usuario/Login">Login</a>
                        </li>
                    }

                </ul>
                <i class="bi bi-list mobile-nav-toggle"></i>
            </nav><!-- .navbar -->

        </div>
    </header><!-- End Header -->

    <main role="main" class="pb-3">
        @RenderBody()
    </main>


    <footer id="footer">

        <div class="container">

            <div class="me-md-auto text-center">
                <div class="copyright">
                    <p>
                        <small>
                            &copy; Copyright <strong><span>Tavilla Victória Extensão de Cílios</span></strong>. Todos os
                            Direitos Reservados - Desenvolvido por GomesTechnology
                        </small>
                    </p>
                </div>
                <div class="credits">
                    <!-- All the links in the footer should remain intact. -->
                    <!-- You can delete the links only if you purchased the pro version. -->
                    <!-- Licensing information: https://bootstrapmade.com/license/ -->
                    <!-- Purchase the pro version with working PHP/AJAX contact form: https://bootstrapmade.com/medilab-free-medical-bootstrap-theme/ -->
                    <p><small>Designed by <a href="https://bootstrapmade.com/">BootstrapMade</a></small></p>
                </div>
            </div>

        </div>
    </footer><!-- End Footer -->
    <div id="preloader"></div>

    <script src="~/lib/swiper/swiper-bundle.min.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script src="~/js/main.js"></script>
    <script src="~/js/validate.js"></script>
    @* @await RenderSectionAsync("Scripts", required: false) *@
</body>

</html>
